.get-section {

   &__title {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: $secondColor;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 36px;
      margin-top: 32px;

      &::after {
         content: ">";
         margin-left: -7px;
      }

      &::before {
         content: "<";
         margin-right: -7px;
      }
   }

   &__list {
      @include flexColumn;
      position: relative;
   }

   &__list-item {
      @include flexColumn;

   }

   &__list-image {
      &--web {
         margin-right: -35px;
         margin-bottom: 27px;
      }

      &--powerfull {
         margin-bottom: 21px;
      }

      &--experiment {
         margin-bottom: 20px;

      }

      &--webBetter {
         margin-bottom: 23px;

      }

   }

   &__list-title {
      color: $mainTitle;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      font-weight: 400;
      margin-bottom: 14px;
   }

   &__list-description {
      color: $mainText;
      text-align: center;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      max-width: 270px;
      margin: 0 auto;
      margin-bottom: 40px;

      &--last {
         @extend .get-section__list-description;
         margin-bottom: 64px;
      }
   }

   &__example-photo-wrap {
      display: flex;
      justify-content: flex-end;
   }

   &__example-photo {
      margin-bottom: 6px;

   }

   &__example-photo-desktop {
      display: none;
   }

}

@media (min-width:481px) {
   .get-section {
      &__title {
         max-width: 100%;
      }

      &__list-item {
         flex-direction: row;
         width: 100%;
      }

      &__list-image--web {
         margin-right: 24px;
      }

      &__list-image--powerfull {
         margin-right: 43px;
      }

      &__list-image--experiment {
         margin-right: 58px;
      }

      &__list-image--webBetter {
         margin-right: 52px;
      }

      &__list-title {
         line-height: 21px;
      }

      &__list-description {
         max-width: 100%;
         text-align: left;
      }


      &__example-photo {
         display: none;
      }

      &__example-photo-desktop {
         display: block;
      }
   }


}

@media (min-width:993px) {}