$mainColor: #FFFFFF;
$secondColor: #8D81AC;
$cardActive: #463048;
$headerCardActive: #000000;
$mainText: #848E97;
$editorTitle: #635C73;
$mainTitle: #323232;
$bgSection: #F4F4F4;
$bgHeaderTell: #27262A;